.board-row{
    display: grid;
}
/* .value{
    font-size: 25px;
} */

.square{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    width: 5vmin;
    height: 5vmin;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-overflow: ellipsis;
    text-align: center;
    box-shadow: black 1px 1px 1px 1px;
    
}

.turn-winner{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.XO{
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: blue;
    opacity: 1;
    font-size: large;
    text-overflow: ellipsis;
    margin: auto;
}

.line{
    display: flex;
  justify-content: center;
  align-items: center;
}